<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewBag.Title | Contact app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:wght@400;500;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
    <header>
        <partial name="~/Views/Shared/navbar_menu_start.cshtml" />
    </header>
    <div class="container col-xl-10 col-xxl-8 px-4 pt-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/Shared/module_start_footer.cshtml" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>