<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <title>@ViewBag.Title | Contact app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Poppins:wght@400;500;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

</head>
<body>

    <partial name="~/Views/Shared/navbar_menu_dashboard.cshtml" />
    <div class="container-fluid">
        <div class="row">
            <partial name="~/Views/Shared/sidebar_menu_dashboard.cshtml" />
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

