@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="mt-auto border-top footer text-muted">
    <div class="container">
        <p class="py-2">2022 &copy; Morongwa Ramputa | jramputa@gmail.com</p>
    </div>
</footer>